
.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
}
/* .App-link {
  color: #61dafb;
} */

.wrapper-class {
  padding: 1rem;
  border: 1px solid rgb(255, 255, 255);
}
.editor-class {
  background-color:rgb(255, 255, 255);
  padding: 1rem;
  min-height: 30rem;
  border: 1px solid rgb(255, 255, 255);
}
.toolbar-class {
  border: 4px double #f32c2c;
  background-color: #f7d5d5a2;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
}