.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(172, 23, 23);
  margin-bottom: 5vh;
  text-align: center;
}
/* .App-link {
  color: #2fb0d4;
} */

/* .wrapper-class {
  padding: 1rem;
  border: 1px solid rgb(255, 255, 255);
} */
/* .editor-class {
  background-color:rgb(255, 255, 255);
  padding: 1rem;
  min-height: 30rem;
  border: 1px solid rgb(255, 255, 255);
} */
/* .toolbar-class {
  border: 4px double #f32c2c;
  background-color: #f7d5d5a2;
} */


/* Example Styles for React Tags*/
.app {
  padding: 20px;
  text-align: center;
}

/* Example Styles for React Tags*/

.container {
  margin: auto;
  width: 100%;
} 
/* .ReactTags__tags {
  position: relative;
}  */

/* Styles for the input */
/* .ReactTags__tagInput {
  width: 300px;
  border-radius: 2px;
  display: inline-block;
  outline: none;
  background-color: #fbe9e7;
  margin-top: 20px;
}
*:focus {
  outline: none;
} */

/* .ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 40px;
  margin-top: 5px;
  font-size: 20px;
  width: 100%;
  border: 0px solid #f32c2c;
  background-color: #fbe9e7;
} */

/* Styles for selected tags */
/* .ReactTags__selected span.ReactTags__tag {
  border: 0px solid rgb(233, 46, 46);
  background: #f32c2c;
  color: white;
  font-size: 14px;
  display: inline-block;
  padding: 3px 8px;
  margin: 0 3px;
  border-radius: 40px;
}
.ReactTags__selected a.ReactTags__remove {
  color: rgb(252, 20, 20);
  margin-left: 20px;
  cursor: wait;
} */

/* Styles for suggestions */
/* .ReactTags__suggestions {
  position: absolute;
}
.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
  
}
  {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #fc4032;
  cursor: pointer;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion :hover {
  color: white;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
} */
