.form {
  position: relative;
  /* width: 400px;
  height: 400px;
  display: grid;
  place-content: center; */

  background: rgba(78, 69, 69, 0.582);
  border-top: 2px solid rgb(27, 16, 16);
  border-left: 2px solid rgba(29, 20, 20, 0.993);
  border-right: 2px solid rgb(27, 16, 16);
  border-bottom: 2px solid rgb(27, 16, 16);
  border-radius: 12px;
  backdrop-filter: blur(12px);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
}

input,
button {
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: white;
  margin: 20px auto;
  padding: 12px 20px;
  border: none;
  background: rgba(105, 100, 100, 0.527);
  border-radius: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 26px 42px rgba(0, 0, 0, 0.2);
  width: 300px;
}
