.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(175, 58, 58);
  margin-bottom: 5vh;
  text-align: center;
}

.toolbar-class {
  border: 4px double #f32c2c;
  background-color: #fbe9e7;
}


.app {
  padding: 20px;
  text-align: center;
}

.container {
  margin: auto;
  width: 100%;
} 
